#login-form label {
	display: block;
    float: left;
    width: 6em;
}
#login-form div {
	margin-bottom: 5px;
}

#submit {
	width: 17.5em;
	text-align: right;
}

#action-errors {
	padding-left: 0;
}

#action-errors li {
	list-style-type: none;
	padding-left: 0;
	color: red;
	
}
